!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Spring Security Example </title>
</head>
<body>
<div>
  <form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
  </form>
</div>
<form action="/login" method="post">
  <div><label> User Name : <input type="text" name="username"/> </label></div>
  <div><label> Password: <input type="password" name="password"/> </label></div>
  <input type="hidden" name="_csrf" value="{{ cs.rf.token }}">
  <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>